@charset "UTF-8";
/*
MEDIA QUERY MANAGER - 
----------------------
0 to 600px – PHONES ONLY
600px to 900px – TABLET PORTRAIT
900px to 1200px – TABLET LANDSCAPE
1200px to 1800px – DESKTOP
1800px and more – BIG DESKTOP
-----------------------------------

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; }

body {
  line-height: 1.6; }

.popup-youtube {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999; }
  .popup-youtube iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    height: 515px; }
    @media only screen and (max-width: 75em) {
      .popup-youtube iframe {
        width: 660px;
        height: 450px; } }
    @media only screen and (max-width: 56.25em) {
      .popup-youtube iframe {
        width: 540px;
        height: 320px; } }
    @media only screen and (max-width: 37.5em) {
      .popup-youtube iframe {
        width: 320px;
        height: 200px; } }
  .popup-youtube .close {
    width: 4rem;
    height: 4rem;
    fill: white;
    position: absolute;
    top: 10rem;
    left: 15rem;
    transition: all .6s;
    z-index: 999;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .popup-youtube .close {
        top: 5rem;
        left: 3rem; } }
    .popup-youtube .close:hover {
      transform: rotate(190deg); }

.play {
  background-color: #163965;
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 30rem;
  bottom: 16rem;
  border-radius: 50%;
  border: 7px solid rgba(0, 0, 0, 0.2);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  z-index: 5;
  cursor: pointer; }
  .play::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 50%;
    width: 8.5rem;
    height: 8.5rem;
    top: 0rem;
    left: 0rem;
    animation-name: blownCircle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 4; }
  @media only screen and (max-width: 75em) {
    .play {
      position: fixed;
      top: 75vh;
      left: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .play {
      position: fixed;
      top: 75vh;
      left: 2rem; } }
  .play__icon {
    position: absolute;
    top: 1.5rem;
    left: 3.2rem;
    width: 2.5rem;
    height: 2.5rem; }
  .play__text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5rem;
    left: 1.1rem; }

.header {
  height: 100vh;
  background-image: url(../img/pic_header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10rem 0 65rem 0; }
  @media only screen and (max-width: 75em) {
    .header {
      background-position: bottom;
      height: auto;
      padding: 10rem 0 30rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 10rem 0 30rem 0; } }
  .header__logo {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem; }
  .header__heading {
    display: flex;
    justify-content: center;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .header__heading {
        flex-direction: column; } }
    .header__heading--primary {
      color: #2daae1;
      font-size: 3rem;
      justify-content: flex-end; }
      @media only screen and (max-width: 75em) {
        .header__heading--primary {
          font-size: 2.7rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__heading--primary {
          font-size: 2rem;
          margin-bottom: 2.5rem; } }
  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem 20rem; }
    @media only screen and (max-width: 75em) {
      .header__container {
        flex-direction: column;
        margin-top: 0;
        padding: 0 10rem 0 12rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__container {
        padding: 0 3rem 0 3rem; } }
  .header__info {
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding-top: 7rem; }
    @media only screen and (max-width: 75em) {
      .header__info {
        justify-content: center;
        align-items: center;
        height: 15rem;
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .header__info {
        margin-bottom: 3rem; } }
    .header__info--text {
      font-size: 1.4rem;
      color: #fff;
      width: 90%;
      position: relative; }
      .header__info--text::before {
        content: '';
        background-image: url(../img/arrow.png);
        background-repeat: no-repeat;
        height: 2rem;
        width: 1rem;
        position: absolute;
        top: 1px;
        left: -22px; }
      .header__info--text:not(:last-child) {
        margin-bottom: 2rem; }
  .header__form {
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    background-color: #f4f3f3;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 56.25em) {
      .header__form {
        width: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__form {
        width: 30rem; } }
    .header__form--heading {
      text-align: center;
      padding-top: 2rem;
      margin-bottom: 2rem;
      color: #163965;
      font-weight: bold; }
    .header__form--input {
      width: 27rem;
      height: 4rem;
      border-radius: 2rem;
      border: 0;
      outline: none;
      font-family: inherit;
      font-size: 1.2rem; }
      .header__form--input:not(:last-child) {
        margin-bottom: 1.5rem;
        padding-left: 2rem; }
      .header__form--input:last-child {
        width: 13rem;
        height: 4rem;
        background-color: #55b9e5;
        color: #fff;
        font-weight: bold;
        margin-top: 1rem;
        transition: all .3s;
        cursor: pointer; }
        .header__form--input:last-child:hover {
          background-color: rgba(85, 185, 229, 0.9);
          color: #f4f3f3;
          transform: translateY(-0.3rem); }
        .header__form--input:last-child:active {
          transform: translateY(-0.1rem); }
    .header__form--span {
      margin-top: 1rem;
      color: #ccc;
      font-weight: bold; }

.main {
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  background-color: #2daae1;
  margin-top: -25rem;
  z-index: 999;
  padding: 15rem 0 0 0; }
  @media only screen and (max-width: 75em) {
    .main {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
      padding-top: 5rem; } }
  .main__icon {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem; }
  .main__heading {
    text-align: center;
    font-size: 2.2rem;
    color: #fff;
    margin-bottom: 3rem; }
  .main__container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .main__container {
        width: 90%; } }
    @media only screen and (max-width: 37.5em) {
      .main__container {
        width: 100%; } }
  .main__item {
    width: 45%;
    scroll-behavior: smooth;
    background-color: #55b9e5;
    color: #163965;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 5rem 3rem;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: all .6s;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .main__item {
        width: 80%;
        margin: 0 auto 15px auto; } }
    .main__item:nth-child(odd) {
      margin-right: 15px;
      margin-left: 15px; }
      @media only screen and (max-width: 56.25em) {
        .main__item:nth-child(odd) {
          margin-left: auto;
          margin-right: auto; } }
      @media only screen and (max-width: 37.5em) {
        .main__item:nth-child(odd) {
          margin: 0 auto 15px auto; } }
    .main__item:hover {
      background-color: #f4f3f3; }
    .main__item:hover::after {
      content: 'Want to hear more?';
      width: 17rem;
      height: 4rem;
      border-radius: 20px;
      text-align: center;
      padding: 1rem;
      color: white;
      font-size: 1.3rem;
      background-color: #163965;
      position: absolute;
      bottom: -1rem;
      right: 3rem;
      cursor: pointer; }
      @media only screen and (max-width: 56.25em) {
        .main__item:hover::after {
          width: 20rem;
          text-align: center; } }
  .main__rights {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0 2rem 0; }

@keyframes blownCircle {
  0% {
    transform: scale(1.1); }
  50% {
    transform: scale(1.4); }
  100% {
    border: 1rem solid rgba(217, 217, 217, 0.05); } }
