* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}