// Repeated Blocks (like buttons etc.)
.popup-youtube {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;

    iframe {
        @include absCenter;
        width: 760px;
        height: 515px;
        @include respond(tab-land) {
            width: 660px;
            height: 450px;
        }

        @include respond(tab-port) {
            width: 540px;
            height: 320px;
        }

        @include respond(phone) {
            width: 320px;
            height: 200px;
        }
    }

    .close {
        width: 4rem;
        height: 4rem;
        fill: white;
        position: absolute;
        top: 10rem;
        left: 15rem;
        transition: all .6s;
        z-index: 999;
        cursor: pointer;
        @include respond(tab-land) {
            top: 5rem;
            left: 3rem;
        }

        &:hover {
            transform: rotate(190deg);
        }
    }
}

.play {
    background-color: $color-navy-dark;
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 30rem;
    bottom: 16rem;
    border-radius: 50%;
    border: 7px solid  rgba(0, 0, 0, .2);
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;  
    z-index: 5;

    &::before {
        content: '';
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        border-radius: 50%;
        width: 8.5rem;
        height: 8.5rem;
        top: 0rem;
        left: 0rem;
        animation-name: blownCircle;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        z-index: 4;
    }
    @include respond(tab-land) {
        position: fixed;
        top: 75vh;
        left: 5rem;
    }

    @include respond(tab-port) {
        position: fixed;
        top: 75vh;
        left: 2rem;
    }


    cursor: pointer;
    &__icon {
        position: absolute;
        top: 1.5rem;
        left: 3.2rem;
        width: 2.5rem;
        height: 2.5rem;
        
    }

    &__text {
        color: white;
        font-weight: bold;
        position: absolute;
        top: 5rem;
        left: 1.1rem;
    }
}