.header {
    height: 100vh;
    background-image: url(../img/pic_header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10rem 0 65rem 0;
    
    @include respond(tab-land) {
        background-position: bottom;
        height: auto;
        padding: 10rem 0 30rem 0;
    }

    @include respond(phone) {
        padding: 10rem 0 30rem 0;
    }

    &__logo {
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 30rem;
        @include respond(tab-land) {
            
        }
    }

    &__heading {
        display: flex;
        justify-content: center;
        text-align: center; 

        @include respond(tab-port) {
            flex-direction: column;
        }

        &--primary {
            color: $color-cyan-dark;
            font-size: 3rem;
            justify-content: flex-end;

            @include respond(tab-land) {
                font-size: 2.7rem;
            }

            @include respond(phone) {
                font-size: 2rem;
                margin-bottom: 2.5rem;
            }
        }
    }

    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
        padding: 2rem 20rem;

        @include respond(tab-land) {
            flex-direction: column;
            margin-top: 0;
            padding: 0 10rem 0 12rem;
        }

        @include respond(phone) {
            padding: 0 3rem 0 3rem;
        }
    }

    &__info {
        height: 35rem;
        display: flex;
        flex-direction: column;
        padding-top: 7rem;

        @include respond(tab-land) {
            justify-content: center;
            align-items: center;
            height: 15rem;
            padding: 0;
        }

        @include respond(phone) {
            margin-bottom: 3rem;    
        }
    
        &--text {
            font-size: 1.4rem;
            color: $color-white;
            width: 90%;
            position: relative;

            &::before {
                content: '';
                background-image: url(../img/arrow.png);
                background-repeat: no-repeat;
                height: 2rem;
                width: 1rem;
                position: absolute;
                top: 1px;
                left: -22px;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__form {
        height: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45rem;
        background-color: $color-white-dark;
        border-radius: 2rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

        @include respond(tab-port) {
            width: 35rem;
        }

        @include respond(phone) {
            width: 30rem;
        }

        &--heading {
            text-align: center;
            padding-top: 2rem;
            margin-bottom: 2rem;
            color: $color-navy-dark;
            font-weight: bold;
        }

        &--input {
            width: 27rem;
            height: 4rem;
            border-radius: 2rem;
            border: 0;
            outline: none;
            font-family: inherit;
            font-size: 1.2rem;
            &:not(:last-child) {
                margin-bottom: 1.5rem;
                padding-left: 2rem;
            }

            &:last-child {
                width: 13rem;
                height: 4rem;
                background-color: $color-cyan-light;
                color: $color-white;
                font-weight: bold;
                margin-top: 1rem;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    background-color: rgba($color-cyan-light, .9);
                    color: $color-white-dark;
                    transform: translateY(-.3rem);
                }

                &:active {
                    transform: translateY(-.1rem);
                }
            }
        }

        &--span {
            margin-top: 1rem;
            color: #ccc;
            font-weight: bold;
        }
    }
}


.main {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
    background-color: $color-cyan-dark;
    margin-top: -25rem;
    z-index: 999;
    padding: 15rem 0 0 0;

    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 5rem;
    }


    &__icon {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
    }

    &__heading {
        text-align: center;
        font-size: 2.2rem;
        color: $color-white;
        margin-bottom: 3rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;

        @include respond(tab-port) {
            width: 90%;
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__item {
        width: 45%;
        scroll-behavior: smooth;
        background-color: $color-cyan-light;
        color: $color-navy-dark;
        font-weight: bold;
        font-size: 1.6rem;
        padding: 5rem 3rem;
        border-radius: 10px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        transition: all .6s;
        position: relative;
        cursor: pointer;

        @include respond(phone) {
            width: 80%;
            margin: 0 auto 15px auto;
        }

        &:nth-child(odd) {
            margin-right: 15px;
            margin-left: 15px;
            @include respond(tab-port) {
                margin-left: auto;
                margin-right: auto;
            }

            @include respond(phone) {
                margin: 0 auto 15px auto;
            }
        }

        &:hover {
            background-color: $color-white-dark;
        }

        &:hover::after {
            content: 'Want to hear more?';
            width: 17rem;
            height: 4rem;
            border-radius: 20px;
            text-align: center;
            padding: 1rem;
            color: white;
            font-size: 1.3rem;
            background-color: $color-navy-dark;
            position: absolute;
            bottom: -1rem;
            right: 3rem;
            cursor: pointer;

            @include respond(tab-port) {
                width: 20rem;
                text-align: center;
            }
        }
    }

    &__rights {
        text-align: center;
        font-size: 1.3rem;
        padding: 1rem 0 2rem 0;
    }
}
